* {
  margin: 0;
  padding: 0;
}

.grid img {
  width: 64px;
  height: auto;

  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

/* Tablet */
@media screen and (min-width: 48rem) {}

/* Desktop */
@media screen and (min-width: 64rem) {}